@model MediTracker.Models.ViewModels.EntryCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Entry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Entry.Date" class="control-label"></label>
                <input asp-for="Entry.Date" class="form-control" />
                <span asp-validation-for="Entry.Date" class="text-danger"></span>
            </div>
            <div class="form-horizontal">
                @*@Html.HiddenFor(Model.Symptoms.SymptomId)*@
                @*<div class="form-group" id="multiSelectBox">
                <label asp-for="SelectedSymptomIds" class="control-label"></label>
                <select multiple asp-for="SelectedSymptomIds" asp-items="@Model.SymptomOptions"></select>
                <span asp-validation-for="SelectedSymptomIds" class="text-danger"></span>
            </div>*@
                <div class="form-group">
                    <label>Select Symptoms</label>
                    @Html.ListBoxFor(Model => Model.SelectedSymptomIds, new MultiSelectList(Model.AllSymptoms, "SymptomId", "Title"), new { id = "multiSelectBox", multiple = "multiple" })
                </div>
            </div>
            <div>
                <a asp-controller="Symptoms" asp-action="Create">Create A New Symptom</a>
            </div>
            <div class="form-group">
                <label asp-for="Entry.Notes" class="control-label"></label>
                <input asp-for="Entry.Notes" class="form-control" />
                <span asp-validation-for="Entry.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
