@model IEnumerable<MediTracker.Models.Entry>



<form class="create-btn-form">
    <input asp-controller="Entries" asp-action="create" type="submit" value="Add Entry" class="btn create-btn" style="background-color:blue; color:white" />
</form>

<table class="table">


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.dateString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfSymptoms) Symptoms
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.EntryId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EntryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
