@model IEnumerable<MediTracker.Models.Entry>


<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.dateString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfSymptoms) Symptoms
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.EntryId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EntryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    </body>
</html>
